@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

/*can delete this file. Doesn't seem to work in angular*/

.my-font {
    font-size: 2rem;
    font-weight: 900;
    font-weight: bold;
    color:black;
}


.my-container {
    border: 1px solid #E40D0D;
    background-color: white;
    max-width: 400px;
    margin: 110px auto 10px auto;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-family: "Lato";
}

.my-container h1 {
    text-align: center;
}

.my-container ul {
    max-width: 200px;
    margin: auto;
}

.my-hr {
    /*max-width: 100px;*/
    border: 2px solid #FFFFFF;
}

.my-body {
    /*background-image: url('stripe_background.png');*/
    background-image: url('Images/GradientBG.jpg');
    background-size: cover/**To stretch the image **/
}

.my-form {
    background-color: rgba();
    font-size: 1rem;
    font-weight: 200;
    color: white;
}

.my-strong2 {
    text-shadow: 5px 5px 10px #FF0000
}

.my-title {
    font-size: 2rem;
    font-weight: 900;
    color: white;
}

.my-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FF6666;
}

.my-subtitle2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FF6666;
    text-align: center;
    /*To align centre, otherwise same as my-subtitle. */
}

.my-paragraph {
    font-size: 1rem;
    font-weight: 500;
    color: #AAAAAA;
}

.my-list {
    font-size: 1rem;
    font-weight: 00;
    color: #888888;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.3;
}

;